@using Microsoft.AspNetCore.ProtectedBrowserStorage
@using goose2s.Models
@namespace goose2s.State
@inject ProtectedSessionStorage ProtectedSessionStore

@if (_hasLoaded)
{
    <CascadingValue Value="@this">
        @ChildContent
    </CascadingValue>
}
else
{
    <p>Loading...</p>
}

@code {
    private bool _hasLoaded;

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public SpotifyAuthResponse CurrentContext { get; set; }

    public SpotifyStateProvider()
    {
        this._sequenceNumber = DateTime.UtcNow.Ticks;
    }
    protected override async Task OnInitializedAsync()
    {
        CurrentContext = await ProtectedSessionStore.GetAsync<SpotifyAuthResponse>("auth");
        _hasLoaded = true;
    }

    public async Task SaveChangesAsync()
    {
        await ProtectedSessionStore.SetAsync("auth", CurrentContext);
    }

    public static QueueItem[] QueueMem = new QueueItem[0];
    public QueueItem[] _queue { get => QueueMem; set => QueueMem = value;}
    private static long SequenceNumberMem = 0L;
    public long _sequenceNumber { get => SequenceNumberMem; set => SequenceNumberMem = value; }


    public void Enqueue(string flock, SpotifyItem track)
    {
        try 
        {

        var entity = new QueueItem(flock, DateTime.UtcNow)
        {
            ArtistName = string.Join(", ", track.artists.Select(a => a.name)),
            DurationMs = track.duration_ms,
            Image = track.album.images.OrderBy(i => i.height).First().url,
            Popularity = track.popularity,
            TrackId = track.id,
            TrackName = track.name,
            Votes = 0
        };

        var q = new List<QueueItem>(_queue);
        q.Add(entity);
        this._queue = q.ToArray();
        _sequenceNumber = DateTime.UtcNow.Ticks;
        
        this.StateHasChanged();
        }
        catch (Exception ex) 
        {

        }
    }

    public async Task<(long, QueueItem[])> GetQueue(string flock, long sequenceNumber)
    {
        if (_sequenceNumber == sequenceNumber)
            return (long.MinValue, null);

        return (_sequenceNumber, _queue
            .Where(qi => qi.PartitionKey == flock && string.Compare(qi.RowKey, DateTime.UtcNow.Ticks.ToString()) > 0
                        && qi.PlayConcluded == 0L)
            .ToArray());

    }

    public async Task<(long, QueueItem)> GetFirst(string flock, long sequenceNumber)
    {
        if (_sequenceNumber == sequenceNumber)
            return (long.MinValue, null);

        return (_sequenceNumber, _queue
            .Where(qi => qi.PartitionKey == flock
                            && string.Compare(qi.RowKey, DateTime.UtcNow.Ticks.ToString()) > 0
                            && (qi.PlayConcluded == 0L || qi.PlayConcluded > DateTime.UtcNow.Ticks))
            .FirstOrDefault());

    }
}