@page "/about"

<h1>About</h1>

<p>In ~~2012 I wrote a Spotify App that integrated into the desktop application. That was called "Goose". That integration
    was killed off by the Spotz and so the Goose was plucked. In an era of COVID19, I've been bored and decided to bring back Goose.
</p>

<p>Thanks to <a href="https://github.com/JMPerez/c">this repo in Node.JS</a>, I took the basic Spotify API calls and wrote it in Blazor so I could learn something new.
</p>