@page "/"
@using Microsoft.Extensions.Configuration
@using goose2s.State
@using goose2s.Services
@inject NavigationManager navManager
@inject PlaybackService playback
@inject IConfiguration config

@code {    
    [CascadingParameter]
    private SpotifyStateProvider SpotifyStateProvider { get; set; }

    private string callbackUri = "";

    protected override void OnInitialized() {
        var honker = AuthContants.GetAuthKeys(config);
        callbackUri = QueryHelpers.AddQueryString("https://accounts.spotify.com/authorize", honker);
    } 

    private async Task Creep(MouseEventArgs e) {
        await playback.Play("7zlz2IQA9D08HII7LUPrvX", SpotifyStateProvider.CurrentContext.access_token);
    }
    private async Task Croop(MouseEventArgs e) {
        await playback.Seek(30000, SpotifyStateProvider.CurrentContext.access_token);
    }

    private void Honk(Models.QueueItem item) {
        playback.Play(item.TrackId, SpotifyStateProvider.CurrentContext.access_token).Wait();
    }
}

@if (SpotifyStateProvider.CurrentContext == null || !SpotifyStateProvider.CurrentContext.Success)
{
    <h1>You gotta log in foolz</h1>
    <p>Honk honk!</p>
    <a href="@callbackUri">Join the formation</a>
}
else {
    <h1>Welcome</h1>

<goose2s.Components.NowPlaying></goose2s.Components.NowPlaying>

<h1>Queue</h1>
<goose2s.Components.Queue TrackChanged="Honk"></goose2s.Components.Queue>

<h1>Search</h1>
<goose2s.Components.Search></goose2s.Components.Search>

}