@page "/"
@using Microsoft.Extensions.Configuration
@using goose2s.State
@using goose2s.Services
@inject NavigationManager navManager
@inject PlaybackService playback
@inject IConfiguration config

@code {    
    [CascadingParameter]
    private SpotifyStateProvider SpotifyStateProvider { get; set; }

    private string callbackUri = "";

    protected override void OnInitialized() {
        var honker = AuthContants.GetAuthKeys(config);
        callbackUri = QueryHelpers.AddQueryString("https://accounts.spotify.com/authorize", honker);
    } 
}

@if (SpotifyStateProvider.CurrentContext == null || SpotifyStateProvider.CurrentContext.Auth.Failure)
{
    <h1>You gotta log in foolz</h1>
    <p>Honk honk!</p>
    <a href="@callbackUri">Join the formation</a>
    <h2>Spotify details</h2>
    <p>We require that Spotify give us the following rights on your account:</p>

        <div class="alert alert-light" role="alert">
            <h4 class="alert-heading">View your Spotify account data</h4>
        The type of Spotify subscription you have, your account country and your settings for explicit content filtering
        Your name and username, your profile picture, how many followers you have on Spotify and your public playlists
        <hr>
        [this lets us show a pretty little flag!]
        </div>

        
        <div class="alert alert-light" role="alert">

        <h4 class="alert-heading">View your activity on Spotify</h4>
        The content you are playing and Spotify Connect devices information
        <hr>
        [now I can see what device are you playing on mwahaha]
        </div>


        <div class="alert alert-light" role="alert">

        <h4 class="alert-heading">Take actions in Spotify on your behalf</h4>
        Control Spotify on your devices
        <hr>
        [Honk honk!]
        </div>
}
else 
{
    <pre>───▄▀▀▀▄▄▄▄▄▄▄▀▀▀▄───
───█▒▒░░░░░░░░░▒▒█───
────█░░█░░░░░█░░█────
─▄▄──█░░░▀█▀░░░█──▄▄─
█░░█─▀▄░░░░░░░▄▀─█░░█</pre>

<div class="row justify-content-start">
    <div class="col col-10">
        <goose2s.Components.NowPlaying></goose2s.Components.NowPlaying>

        <h1>Queue</h1>
        <goose2s.Components.Queue></goose2s.Components.Queue>

        <h1>Search</h1>
        <goose2s.Components.Search></goose2s.Components.Search>
    </div>
    <div class="col col-lg-2">
        <h1>Flock</h1>
        <goose2s.Components.Users></goose2s.Components.Users>
    </div>
</div>
}